@import url(variaveis.css);
@import url(animacoes.css);
@import url(componentes.css);

*,
*::after,
*::before {
margin: 0;
padding: none;
}


body {
background-color: #FCEFFF;
}


h1,
h2,
h3 {
color: #DD00FF;


}

h2 {
font-size: 1.87rem;
text-align: center;
}

main {
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

h1 {
font-size: 2.5rem;

}

.principal {
align-items: center;
display: flex;
flex-direction: row;
justify-content: space-around;

box-shadow: rgba(0, 0, 0, 0.100) 0px 12px 6px;
border-radius: 0px;





.inform { 
    max-width: 800px;
    padding-inline-end: 600px;
    display: flex;
    align-items: center;
    gap: 4rem;
    flex-direction: column;
    p {
        text-align: center;
        font-size: 1.25rem;
        

    }

}

}

.terapia {

margin-top: 12rem;
text-align: center;
font-size: 1.25rem;
margin-left: 2rem;

h2 {
    text-align: center;
    margin-bottom: 90px;
}


}

.cards {
display: flex;
max-width: 1000px;
margin-inline: auto;




flex-direction: column;

}

.card {
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
align-items: center;
gap: 45px;
width: 28rem;
height: 14rem;
padding: 1rem;
background-color: white;
box-shadow: rgba(0, 0, 0, 0.100) 0px 5px 6px;
border-radius: 20px;

p {
    width: 25rem;
    font-family: Roboto;
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 50px;
}

h3 {
    font-family: 'Open Sans';
    font-size: 1.6rem;
    margin-block: -50px;


}





}

.container {
display: flex;

flex-wrap: wrap;
align-items: center;
gap: 40px;


}

.banner {
background-size: cover;
background-repeat: no-repeat;
background-position: 0 80%;
background-image: url(../imgs/fundo.jpg);
height: 600px;
position: relative;
z-index: 0;
}

.banner::before {
content: "";
position: absolute;
inset: 0;
background-color: rgba(98, 166, 255, 0.30);
z-index: 1;
backdrop-filter: blur(5px);
}


.interno {

    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 4rem;
    padding: 10rem;
    position: relative;
    z-index: 2;
    color: white;
    line-height: 3rem;

    h2 {
        color: white;
        margin-block-end: 55px;
    }

    p {
        margin-inline: auto;
        max-width: 800px;
    }



    a {
        text-decoration: none;
        color: white;
        background-color: #8a04ff9f;
        padding: 1rem;
        line-height: 15rem;
        border-radius: 3rem;

    }
}
}

.rodape {
    background-color: black;
}

.footer {
    background-color: #812DFF;
}
